
/* Hero Section Styles */
.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.hero-container {
    position: relative;
    z-index: 2;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.hero-text-overlay {
    max-width: 70%;
    padding: 20px;
    /*     background-color: rgba(255, 255, 255, 0.1); /* Optional background for readability */
    /*   border-radius: 8px; */
}

.hero h1 {
    color: #fff;
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation: fadeInUp 1s ease-out;
    font-weight: 700;
}

.highlight-text {
    color: #40E0D0;
}

.btn-strategy {
    display: inline-block;
    background-color: #fff;
    color: #333;
    padding: 12px 24px;
    border-radius: 4px;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border: 1px solid #c82333;
    margin-top: 20px;
}

.btn-strategy:hover {
    background-color: #c82333;
    color: #fff;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .hero h1 {
        font-size: 3rem;
    }

    .hero-text-overlay {
        max-width: 90%;
    }
}


/* Responsive Design */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5rem;
    }

    .hero-text-overlay {
        max-width: 90%;
    }

    .btn-strategy {
        padding: 10px 20px;
    }

}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 2rem;
    }

}

.error-message {
    color: #ff0000;
    margin-top: 5px;
    font-weight: 500;
     opacity: 0;
    transform: translateY(10px);
     transition: opacity 0.3s ease, transform 0.3s ease;
}
.error-message.active{
    opacity: 1;
     transform: translateY(0);
}

/* Trust Section */
.trust-section {
    background: linear-gradient(135deg, #2c3e50, #000000); /* Dark Gradient */

    text-align: center;
    padding: 20px 0;
}
.trust-section__title {
    margin-bottom: 20px;
    color: #000000;
    font-size: clamp(2rem, 4vw, 2.5em);
    overflow: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.trust-section__title span {
    display: inline-block;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1), opacity 0.3s ease;
}
.trust-section__title.animate__fade-in-up span {
    transform: translateY(0);
    opacity: 1;
}

.trust-section__logos {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    position: relative;
    padding: 10px 0;
}

.trust-section__logo-list {
    display: flex;
    transition: transform 0.5s ease;
    position: relative;
}

.trust-section__logo-list img {
    width: 130px; /* Set a fixed width */
    height: 130px; /* Set a fixed height */
    object-fit: cover;
    margin: 0 15px;
    cursor: pointer;
    scroll-snap-align: center;
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1), filter 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    display: inline-block; /* Set to inline-block*/
}
.trust-section__logo-list img:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
}

.trust-section__arrow {
    font-size: 2rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    color: #000000;
    transition: color 0.3s ease, transform 0.3s ease;
       opacity: 0.6;
}
.trust-section__arrow:hover{
    color: #666;
        transform: translateY(-50%) scale(1.2);
       opacity: 1;
}
.trust-section__arrow--prev {
    left: 0;
}

.trust-section__arrow--next {
    right: 0;
}
.trust-section__logo-indicators {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trust-section__logo-indicator {
    width: 10px;
    height: 10px;
    background-color: #ddd;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1)
}
.trust-section__logo-indicator:hover {
    background-color: #aaa;
}

.trust-section__logo-indicator--active {
    background-color: #000000;
    transform: scale(1.1);
}

/* Responsive design */
@media (max-width: 1024px) {
    .trust-section__logo-list img {
     margin: 0 8px;
        width: 150px;
     }
     .trust-section__title {
         font-size: clamp(1.6rem, 4vw, 2em);
    }

}
@media (max-width: 768px) {
  .trust-section__logo-list img{
      width: 120px;
  }
    .trust-section__title {
      font-size: clamp(1.6rem, 4vw, 1.7em);
     }
     .trust-section__arrow{
       font-size: 2.5em;
       padding: 0 10px;
     }
    .trust-section__logo-list {
       padding: 0 5px;
    }
}

@media (max-width: 480px) {
    .trust-section__logo-list img{
     width: 100px;
   }
     .trust-section__title {
       font-size: clamp(1.3rem, 4vw, 1.5em);
    }
     .trust-section__arrow{
       font-size: 2em;
      padding: 0 5px;
    }
}



/* Services Section */
.services-section {
    background: linear-gradient(135deg, #2c3e50, #000000); /* Dark Gradient */
}

.services-section__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services-section__description {
    max-width: 600px;
}

.services-section__title {
    margin-bottom: 10px;
    color: #000000;
    font-size: 2.5em;
}
.services-section__description p{
    line-height: 1.6;
    color: #fff;
}

.services-section__images {
    width: 40%;
    transition: transform 0.5s ease;
}
.services-section__images:hover {
    transform: scale(1.05);
}


.services-section__images img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.services-section__learn-more-button {
    background-color: #dc3545;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
     transition: background-color 0.3s ease;
}

.services-section__learn-more-button:hover {
   background-color: #c82333;
   color: #000000;
}


/* Ai Section */
.ai-section {
    background-image: url('./assets/bg-pattern.png');
    text-align: center;
    color: black;
    padding: 80px 0;
    background-attachment: fixed;
    position: relative;
    overflow: hidden; /* To hide the overflow */

}


.ai-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, rgba(10,10,10,.1) 20%, rgba(150,150,150, .1) 80%);
    background-size: 300% 300%; /* Larger background size*/
    z-index: 0;
    animation: shimmer 10s linear infinite;/*apply shimmer animation*/
}
 @keyframes shimmer {
     0%, 100% {
         background-position: 0 0;
    }
   50% {
     background-position: 100% 100%;
     }
 }

.ai-section p {
    color: #999;
}

.ai-section__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative; /* To handle the image position */
    height: 100vh;
    z-index: 1;/* Content is positioned over the background */
}

.ai-section__title {
    font-size: 2.5rem;
    margin-bottom: 10px;
    line-height: 1.2;
    overflow: hidden;/*Clip the animation*/
}

.ai-section__title span {
    display: inline-block;
    transform: translateY(100%);
   opacity: 0;
     transition: transform 0.6s cubic-bezier(0.25, 0.1, 0.25, 1), opacity 0.4s ease;
}

.ai-section__title.animate__fade-in-up span {
    transform: translateY(0);
    opacity: 1;
}

.ai-section__desc {
    font-size: 1.2em;
    line-height: 1.4;
    overflow: hidden;/*Clip the animation*/
}

.ai-section__desc span {
  display: inline-block;
  transform: translateY(100%);
 opacity: 0;
   transition: transform 0.6s cubic-bezier(0.25, 0.1, 0.25, 1), opacity 0.4s ease;
}

.ai-section__desc.animate__fade-in-up span {
    transform: translateY(0);
    opacity: 1;
}


.ai-section img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: auto;
    object-fit: contain;
    opacity: 0.5;
    z-index: 0; /* Place the image behind*/
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1) , filter 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
    filter: blur(2px);
}

.ai-section:hover img{
    transform: translate(-50%, -50%) scale(2.95) ; /*On hover scale the image slightly*/
    filter: blur(0px) brightness(1.1); /*On hover remove blur and increase brightness*/
}


/* Responsive design */
 @media (max-width: 768px) {
     .ai-section__title{
       font-size: 2em;
       }
     .ai-section__desc{
        font-size: 1em;
     }
      .ai-section img {
       width: 300px;/* Smaller image size on smaller screen */
      }
 }



/* Blog Section */
.blog-section {
    position: relative;
    overflow: hidden;
}

.blog-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, #2c3e50, #000000); /* Dark Gradient */
    z-index: 0;
    background-attachment: fixed;
}

.blog-section__bg-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Make it cover all the blog section */
    pointer-events: none;
    z-index: 0;
    overflow: hidden;
}


.blog-section__content {
    position: relative;
    z-index: 1;
    padding: 40px;
    padding-left: 10px;
    padding-right: 30px;

    max-width: 1200px;
    margin: 0 auto;
}


.blog-section__title {
    margin-bottom: 30px;
    color: #000000;
    font-size: 2.8em;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.blog-section__title::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, rgba(33, 71, 132, 0), #000000, rgba(33, 71, 132, 0));
    transform: scaleX(0);
    transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.blog-section__title:hover::before {
    transform: scaleX(1);
}

.blog-section__title::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000; /* Black background overlay*/
    transform: scaleX(0); /* Start with 0 width */
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1); /* Add transition*/
    z-index: -1; /* Under the text*/

}

.blog-section__title:hover::after {
   transform: scaleX(1); /* On hover scale to 1*/
}
.blog-section__title {
     transition: color 0.3s ease; /* Change text color transition*/
}
.blog-section__title:hover {
     color: #fff;  /* Text color white on hover*/
}

.blog-section__posts {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.blog-section__post {
    width: calc(33.33% - 30px);
    border-radius: 10px;
    background-color: #f9f9f9;
    padding: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1), box-shadow 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.blog-section__post::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateX(-100%);
    transition: transform 0.4s ease;
    z-index: 1;
}

.blog-section__post:hover::before {
    transform: translateX(0);
}

.blog-section__post:hover {
    transform: translateY(-8px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.blog-section__post img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.blog-section__post img:hover {
    transform: scale(1.08);
    filter: brightness(1.1);
}

.blog-section__post-title {
    margin-bottom: 8px;
    color: #000000;
    font-size: 1.6em;
    font-weight: 600;
    line-height: 1.3;
    position: relative;
    z-index: 2;
}

.blog-section__post-author {
    font-style: italic;
    margin-bottom: 8px;
    color: #999;
    position: relative;
    z-index: 2;
}

.blog-section__post-author-desc {
    font-weight: 600;
    margin-bottom: 20px;
    color: #555;
    line-height: 1.5;
    position: relative;
    z-index: 2;
}

/* Responsive design */
@media (max-width: 1024px) {
    .blog-section__posts {
        justify-content: center;
    }

    .blog-section__post {
        width: calc(50% - 30px);
    }
}

@media (max-width: 768px) {
    .blog-section__post {
        width: calc(100% - 30px);
    }
}


canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
}
